.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar .navbar-brand {
    color: #fff;
    font-weight: bold;
    font-size: 22px;
}


.navbar .navbar-text {
    color: #fff;
    margin-left: 15px;
}

.navbar .nav-link {
    color: #fff;
    padding: 8px 12px;
}

.navbar .nav-link:hover {
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}

.navbar .nav-item {
    margin-left: 10px;
}
