/*procut list image scaling*/
.card.h-100 {
    display: flex;
    flex-direction: column;
}

.card-img-top {
    height: 150px;
    object-fit: contain;
    padding: 10px;
}

/*space between card*/
.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*search bar*/
.search-bar {
    max-width: 600px;
    margin: 30px auto; /* top-bottom spacing and center */
    padding: 0 15px;
}

/* Add spacing below search and above cards */
.row.g-3 {
    margin-top: 30px;
}


.product-page img {
    width: 100%;
    max-width: 300px;
    height: 300px; /* force consistent height */
    object-fit: contain;
    margin: 0 auto 10px auto;
    display: block;
}


.product-page {
    margin-top: 40px;
    margin-bottom: 150px; /* increased from 40px to 80px */
    display: flex;
    justify-content: center;
}


/* stack vertically on smaller screens */
@media (max-width: 768px) {
    .product-page {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .product-page .col-md-6 {
        max-width: 100%;
    }
}



/*login and register form cont*/


.auth-container {
    max-width: 400px;
    margin: 80px auto;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.auth-container h3 {
    color: #c8102e;
    margin-bottom: 20px;
}

.auth-container .form-control {
    padding: 12px;
    font-size: 16px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.auth-container .btn-primary,
.auth-container .btn-success {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

.auth-container .btn-link {
    display: inline-block;
    margin-top: 10px;
    color: #c8102e;
    text-decoration: none;
    font-size: 14px;
}

.auth-container .btn-link:hover {
    text-decoration: underline;
}

.auth-container .alert {
    margin-bottom: 20px;
    font-size: 14px;
}


/* shared style for trolley, orders, checkout etc */
.page-box {
    max-width: 900px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.page-box h3 {
    color: #c8102e;
    margin-bottom: 25px;
    text-align: center;
}

/* align remove input + button */
form.d-inline-flex {
    align-items: center;
}

/* align tables */
.page-box .table th {
    background-color: #f8f9fa;
}

.page-box .btn-success {
    margin-top: 20px;
}
